## YAHOO FINANCE



<img src="https://frenzy86.s3.eu-west-2.amazonaws.com/IFAO/yfinance.jpg" width="1200">

In [1]:
!pip install yfinance --quiet
!pip install mplfinance --quiet

### Import Libraries

In [2]:
import yfinance as yf
import mplfinance as mpf
import matplotlib.pyplot as plt
import pandas as pd

### Basic information

In [3]:
tsla = yf.Ticker("TSLA") #AAPL#
tsla.info

WARNING: No decryption keys could be extracted from JS file. Falling back to backup decrypt methods.

Exception: yfinance failed to decrypt Yahoo data response

In [ ]:
print(f"Market Cap : {tsla.info['marketCap']}\n")
print(f"Employees : {tsla.info['fullTimeEmployees']}\n")
print(f"Business Summary : \n{tsla.info['longBusinessSummary']}")

Market Cap : 530912182272

Employees : 99290

Business Summary :
Tesla, Inc. designs, develops, manufactures, leases, and sells electric vehicles, and energy generation and storage systems in the United States, China, and internationally. The company operates in two segments, Automotive, and Energy Generation and Storage. The Automotive segment offers electric vehicles, as well as sells automotive regulatory credits. It provides sedans and sport utility vehicles through direct and used vehicle sales, a network of Tesla Superchargers, and in-app upgrades; and purchase financing and leasing services. This segment is also involved in the provision of non-warranty after-sales vehicle services, sale of used vehicles, retail merchandise, and vehicle insurance, as well as sale of products to third party customers; services for electric vehicles through its company-owned service locations, and Tesla mobile service technicians; and vehicle limited warranties and extended service plans. The Energy Generation and Storage segment engages in the design, manufacture, installation, sale, and leasing of solar energy generation and energy storage products, and related services to residential, commercial, and industrial customers and utilities through its website, stores, and galleries, as well as through a network of channel partners. This segment also offers service and repairs to its energy product customers, including under warranty; and various financing options to its solar customers. The company was formerly known as Tesla Motors, Inc. and changed its name to Tesla, Inc. in February 2017. Tesla, Inc. was incorporated in 2003 and is headquartered in Austin, Texas.

In [ ]:
tsla.history(period='5d')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-11-15 00:00:00-05:00,195.880005,200.820007,192.059998,194.419998,91293800,0,0
2022-11-16 00:00:00-05:00,191.509995,192.570007,185.660004,186.919998,66567600,0,0
2022-11-17 00:00:00-05:00,183.960007,186.160004,180.899994,183.169998,64336000,0,0
2022-11-18 00:00:00-05:00,185.050003,185.190002,176.550003,180.190002,75904900,0,0
2022-11-21 00:00:00-05:00,175.850006,176.770004,168.039993,168.300003,68424363,0,0

In [ ]:
#Remove actions
tsla.history(period='10d', actions=False)

,Open,High,Low,Close,Volume
Date,,,,,
2022-11-07 00:00:00-05:00,208.649994,208.899994,196.660004,197.080002,93916500
2022-11-08 00:00:00-05:00,194.020004,195.199997,186.750000,191.300003,128803400
2022-11-09 00:00:00-05:00,190.779999,195.889999,177.119995,177.589996,127062700
2022-11-10 00:00:00-05:00,189.899994,191.000000,180.029999,190.720001,132703000
2022-11-11 00:00:00-05:00,186.000000,196.520004,182.589996,195.970001,114229200
2022-11-14 00:00:00-05:00,192.770004,195.729996,186.339996,190.949997,92226600
2022-11-15 00:00:00-05:00,195.880005,200.820007,192.059998,194.419998,91293800
2022-11-16 00:00:00-05:00,191.509995,192.570007,185.660004,186.919998,66567600
2022-11-17 00:00:00-05:00,183.960007,186.160004,180.899994,183.169998,64336000
2022-11-18 00:00:00-05:00,185.050003,185.190002,176.550003,180.190002,75904900

In [4]:
#Getting data using start date and end date
tsla=yf.Ticker('tsla')
#tsla.history(start="2021-02-20", end="2021-12-15", actions=False)4
tsla.history(actions=False)

,Open,High,Low,Close,Volume
Date,,,,,
2023-01-10 00:00:00-05:00,121.070000,122.760002,114.919998,118.849998,167642500
2023-01-11 00:00:00-05:00,122.089996,125.949997,120.510002,123.220001,183810800
2023-01-12 00:00:00-05:00,122.559998,124.129997,117.000000,123.559998,169400900
2023-01-13 00:00:00-05:00,116.550003,122.629997,115.599998,122.400002,180439300
2023-01-17 00:00:00-05:00,125.699997,131.699997,125.019997,131.490005,186477000
2023-01-18 00:00:00-05:00,136.559998,136.679993,127.010002,128.779999,195680300
2023-01-19 00:00:00-05:00,127.260002,129.990005,124.309998,127.169998,170291900
2023-01-20 00:00:00-05:00,128.679993,133.509995,127.349998,133.419998,138429900
2023-01-23 00:00:00-05:00,135.869995,145.380005,134.270004,143.750000,203119200
2023-01-24 00:00:00-05:00,143.000000,146.500000,141.100006,143.889999,158699100
2023-01-25 00:00:00-05:00,141.910004,146.410004,138.070007,144.429993,192734300
2023-01-26 00:00:00-05:00,159.970001,161.419998,154.759995,160.270004,234815100
2023-01-27 00:00:00-05:00,162.429993,180.679993,161.169998,177.899994,305632100
2023-01-30 00:00:00-05:00,178.050003,179.770004,166.500000,166.660004,230878800
2023-01-31 00:00:00-05:00,164.570007,174.300003,162.779999,173.220001,196813500
2023-02-01 00:00:00-05:00,173.889999,183.809998,169.929993,181.410004,213806300
2023-02-02 00:00:00-05:00,187.330002,196.750000,182.610001,188.270004,217448300
2023-02-03 00:00:00-05:00,183.949997,199.000000,183.690002,189.979996,231684200
2023-02-06 00:00:00-05:00,193.009995,198.169998,189.919998,194.759995,186188100
2023-02-07 00:00:00-05:00,196.429993,197.500000,189.550003,196.809998,186010300
2023-02-08 00:00:00-05:00,196.100006,203.000000,194.309998,201.289993,180673600
2023-02-09 00:00:00-05:00,207.779999,214.000000,204.770004,207.320007,214085400
2023-02-10 00:00:00-05:00,202.225006,206.199997,192.889999,195.229996,133598597

In [5]:
type(tsla)

yfinance.ticker.Ticker

## Pandas Dataframe_

In [16]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

# download dataframe
data = pdr.get_data_yahoo("tsla", start="2017-01-01", end="2022-02-09")
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,14.324000,14.688667,14.064000,14.466000,14.466000,88849500
2017-01-04,14.316667,15.200000,14.287333,15.132667,15.132667,168202500
2017-01-05,15.094667,15.165333,14.796667,15.116667,15.116667,88675500
2017-01-06,15.128667,15.354000,15.030000,15.267333,15.267333,82918500
2017-01-09,15.264667,15.461333,15.200000,15.418667,15.418667,59692500
...,...,...,...,...,...,...
2022-02-02,309.393341,310.500000,296.470001,301.886658,301.886658,66792900
2022-02-03,294.000000,312.333344,293.506653,297.046661,297.046661,78855600
2022-02-04,299.073334,312.166656,293.723328,307.773346,307.773346,73625400
2022-02-07,307.929993,315.923340,300.903320,302.446655,302.446655,60994500
2022-02-08,301.843323,308.763336,298.266663,307.333344,307.333344,50729100

In [17]:
type(data)

pandas.core.frame.DataFrame

In [18]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1285.000000,1285.000000,1285.000000,1285.000000,1285.000000,1.285000e+03
mean,88.452130,90.410137,86.339287,88.483919,88.483919,1.331383e+08
std,104.515047,106.865457,101.887586,104.487121,104.487121,8.989923e+07
min,12.073333,12.445333,11.799333,11.931333,11.931333,2.940180e+07
25%,20.024668,20.398666,19.633333,20.022667,20.022667,7.540500e+07
50%,23.311333,23.664667,22.925333,23.302000,23.302000,1.045470e+08
75%,147.306671,150.333328,142.933334,147.253326,147.253326,1.553610e+08
max,411.470001,414.496674,405.666656,409.970001,409.970001,9.140820e+08

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1285 entries, 2017-01-03 to 2022-02-08
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1285 non-null   float64
 1   High       1285 non-null   float64
 2   Low        1285 non-null   float64
 3   Close      1285 non-null   float64
 4   Adj Close  1285 non-null   float64
 5   Volume     1285 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 70.3 KB

In [20]:
data.to_csv('tesla.csv')

### Intraday plot

In [40]:
hist=tsla.history(start='2022-01-10', end='2023-02-10', 
                  interval='1m', actions=False)

mpf.plot(hist, type='candle', volume=True, style='yahoo', mav=(20),
        title='TSLA 2023-02-10', tight_layout=True)

TSLA: 1m data not available for startTime=1641790800 and endTime=1676005200. Only 7 days worth of 1m granularity data are allowed to be fetched per request.

TypeError: Expect data.index as DatetimeIndex

### Fetching multiple tickers

In [23]:
data = yf.download("AMZN AAPL TSLA", period="ytd",
        group_by='ticker', actions=False)
amzn=data["AMZN"]
aapl=data["AAPL"]

[*********************100%***********************]  3 of 3 completed

In [24]:
amzn.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-01-03  85.459999  86.959999  84.209999  85.820000  85.820000  76706000
2023-01-04  86.550003  86.980003  83.360001  85.139999  85.139999  68885100
2023-01-05  85.330002  85.419998  83.070000  83.120003  83.120003  67930800
2023-01-06  83.029999  86.400002  81.430000  86.080002  86.080002  83219100
2023-01-09  87.459999  89.480003  87.080002  87.360001  87.360001  65266100

### Covnvert data into csv

In [25]:
amzn.to_csv('amzn.csv')

## Other functions in Ticker Module

In [26]:
#actions
aapl=yf.Ticker('AAPL')
aapl.actions.tail(5)

                           Dividends  Stock Splits
Date
2021-11-05 00:00:00-04:00       0.22           0.0
2022-02-04 00:00:00-05:00       0.22           0.0
2022-05-06 00:00:00-04:00       0.23           0.0
2022-08-05 00:00:00-04:00       0.23           0.0
2022-11-04 00:00:00-04:00       0.23           0.0

In [27]:
#dividends
aapl.dividends.tail()

Date
2021-11-05 00:00:00-04:00    0.22
2022-02-04 00:00:00-05:00    0.22
2022-05-06 00:00:00-04:00    0.23
2022-08-05 00:00:00-04:00    0.23
2022-11-04 00:00:00-04:00    0.23
Name: Dividends, dtype: float64

In [28]:
#splits
aapl.splits.tail()

Date
1987-06-16 00:00:00-04:00    2.0
2000-06-21 00:00:00-04:00    2.0
2005-02-28 00:00:00-05:00    2.0
2014-06-09 00:00:00-04:00    7.0
2020-08-31 00:00:00-04:00    4.0
Name: Stock Splits, dtype: float64

In [29]:
#major_holders
aapl.major_holders

        0                                      1
0   0.07%        % of Shares Held by All Insider
1  61.27%       % of Shares Held by Institutions
2  61.32%        % of Float Held by Institutions
3    5577  Number of Institutions Holding Shares

In [30]:
#institutional_holders
aapl.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",1272378901,2022-09-29,0.0804,190812297228
1,Blackrock Inc.,1020245185,2022-09-29,0.0645,153001065432
2,"Berkshire Hathaway, Inc",894802319,2022-09-29,0.0566,134189026491
3,State Street Corporation,591543874,2022-09-29,0.0374,88710874898
4,"FMR, LLC",350900116,2022-09-29,0.0222,52622734610
5,"Geode Capital Management, LLC",279758518,2022-09-29,0.0177,41953985127
6,Price (T.Rowe) Associates Inc,224863541,2022-09-29,0.0142,33721660102
7,Morgan Stanley,182728771,2022-09-29,0.0115,27402919473
8,Northern Trust Corporation,176084862,2022-09-29,0.0111,26406565684
9,Bank of America Corporation,142260591,2022-09-29,0.0090,21334109008

In [37]:
#sustainability
#aapl.sustainability

In [ ]:
#Analyst recommendations
aapl.recommendations.tail()

                                  Firm      To Grade From Grade Action
Date
2022-10-28 13:19:17            Wedbush    Outperform              main
2022-11-07 12:39:27           Barclays  Equal-Weight              main
2022-11-07 13:08:30  B of A Securities       Neutral              main
2022-11-08 12:14:23     Morgan Stanley    Overweight              main
2022-11-08 12:17:03                UBS           Buy              main

In [ ]:
# Show the upcomingÂ events
aapl.calendar

                                    0                    1
Earnings Date     2023-01-25 10:59:00  2023-01-30 12:00:00
Earnings Average                 2.04                 2.04
Earnings Low                     1.89                 1.89
Earnings High                    2.13                 2.13
Revenue Average          125689000000         125689000000
Revenue Low              117857000000         117857000000
Revenue High             129379000000         129379000000

In [32]:
# Show ISINÂ code
aapl.isin

In [33]:
# Available option expiration dates
aapl.options

('2023-02-10',
 '2023-02-17',
 '2023-02-24',
 '2023-03-03',
 '2023-03-10',
 '2023-03-17',
 '2023-03-24',
 '2023-04-21',
 '2023-05-19',
 '2023-06-16',
 '2023-07-21',
 '2023-08-18',
 '2023-09-15',
 '2023-10-20',
 '2023-12-15',
 '2024-01-19',
 '2024-03-15',
 '2024-06-21',
 '2024-09-20',
 '2025-01-17',
 '2025-06-20',
 '2025-12-19')

In [36]:
aapl.option_chain('2023-02-10').puts

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL230210P00050000,2023-02-07 15:23:54+00:00,50.0,0.01,0.00,0.01,0.000000,0.000000,10.0,311,6.500002,False,REGULAR,USD
1,AAPL230210P00055000,2023-01-30 19:39:14+00:00,55.0,0.01,0.00,0.01,0.000000,0.000000,3.0,220,6.000002,False,REGULAR,USD
2,AAPL230210P00060000,2023-02-01 15:44:21+00:00,60.0,0.02,0.00,0.01,0.000000,0.000000,NaN,12,5.500003,False,REGULAR,USD
3,AAPL230210P00065000,2023-01-23 15:08:07+00:00,65.0,0.01,0.00,0.01,0.000000,0.000000,100.0,108,5.000004,False,REGULAR,USD
4,AAPL230210P00070000,2023-01-23 15:07:57+00:00,70.0,0.01,0.00,0.01,0.000000,0.000000,100.0,102,4.625004,False,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,AAPL230210P00180000,2023-02-10 14:40:44+00:00,180.0,30.20,30.10,30.40,2.200001,7.857146,5.0,114,1.863282,True,REGULAR,USD
63,AAPL230210P00185000,2023-02-07 17:47:46+00:00,185.0,31.00,35.15,35.45,0.000000,0.000000,1.0,1,2.173833,True,REGULAR,USD
64,AAPL230210P00190000,2023-02-09 15:21:48+00:00,190.0,36.50,40.10,40.35,0.000000,0.000000,19.0,18,2.253911,True,REGULAR,USD
65,AAPL230210P00245000,2023-02-07 17:50:13+00:00,245.0,91.00,95.05,95.30,0.000000,0.000000,1.0,1,3.945313,True,REGULAR,USD
66,AAPL230210P00250000,2023-02-10 16:57:32+00:00,250.0,100.00,100.25,100.40,1.949997,1.988778,7.0,174,4.562504,True,REGULAR,USD